<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_manage}">
<head>
    <title>게시판 관리</title>
    <link rel="stylesheet" href="/css/back.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script type="module" src="/js/manageHandler.js"></script>
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="boardContainer">

        <div class="board">
            <h2>게시판 관리</h2>

            <form name="frm" id="frm" enctype="multipart/form-data">
                <div class="tableForm">
                    <div class="row">
					<span class="key">
						카테고리
					</span>
                        <div class="value">
                            <select name="boardType" id="boardType" class="form-select">
                                <option value="1" th:selected="${BOARD.type.id == 1} ? 'selected'">공지사항</option>
                                <option value="2" th:selected="${BOARD.type.id == 2} ? 'selected'">이벤트</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						제목
					</span>
                        <div class="value">
                            <input type="text" name="title" id="title" class="w-full" th:value="${BOARD.title }" />
                            <input type="hidden" name="seq" id="id" th:value="${BOARD.id}" />
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						내용
					</span>
                        <div class="value">

                            <div class="editor-container editor-container_classic-editor" id="editor-container">
                                <div class="editor-container__editor"><textarea id="content" name="content" th:utext="${BOARD.content}"></textarea></div>
                            </div>
                            <script type="importmap">
                                {
                                    "imports": {
                                        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                                        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
                                    }
                                }
                            </script>
                            <script src="https://example.com/ckfinder/ckfinder.js"></script>
                            <script type="module" src="/js/ckeditor.js"></script>
                            <p class="description">
                                * 단순 줄바꿈은 Shift+Enter를 사용해 주세요. <br>
                                * 단락에 따른 줄바꿈은 Enter를 사용해 주세요.
                            </p>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						첨부파일
					</span>
                        <div class="value">
                            <input type="hidden" name="filePath" id="filePath" th:value="${BOARD.filePath}" />
                            <input type="hidden" name="chgFileYn" id="chgFileYn" th:value="${!BOARD.filePath.isEmpty()} ? 'N'" />
                            <div id="oldAttachFile" th:class="${BOARD.filePath.isEmpty()} ? 'd-none'">
                                <a th:href="${BOARD.filePath}" th:text="${BOARD.filePath}"></a>
                                <button type="button" class="btn btn-sm btn-dark btnDeleteAttachFile">삭제</button>
                            </div>
                            <div id="newAttachFile" th:class="${!BOARD.filePath.isEmpty()} ? 'd-none'">
                                <input type="file" name="attachFile" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						공개여부
					</span>
                        <div class="value">
                            <select name="hidden" class="form-select">
                                <option value="Y" th:selected="${BOARD.hidden == 'Y'} ? 'selected'"}>숨김</option>
                                <option value="N" th:selected="${BOARD.hidden != 'Y'} ? 'selected'">공개</option>
                            </select>
                        </div>
                    </div>

                </div>
            </form>

            <div class="listBottom">
                <div class="func">
                    <a th:if="${CATEGORY == null or CATEGORY == ''}"
                       th:href="@{/manage/board(currentPage=${currentPage})}" class="btn btn-secondary">목록</a>
                    <a th:if="${CATEGORY != null and CATEGORY != ''}"
                       th:href="@{/manage/board(currentPage=${currentPage}, type=${CATEGORY})}" class="btn btn-secondary">목록</a>
                    <button type="button" name="btnUpdateBoard" th:data-id="${BOARD.id}" class="btn btn-warning">수정</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            const btnDeleteAttachFile = document.querySelector(".btnDeleteAttachFile");
            if(btnDeleteAttachFile) {
                btnDeleteAttachFile.addEventListener("click", (e) => {
                    e.target.disabled = true;
                    try {
                        const oldAttach = document.querySelector("#oldAttachFile");
                        const newAttach = document.querySelector("#newAttachFile");
                        const filePath = document.getElementById("filePath");
                        const chgFileYn = document.getElementById("chgFileYn");
                        if (chgFileYn.value == 'Y') {
                            chgFileYn.value = 'N';
                            oldAttach.className = "";
                            newAttach.className = "d-none";
                        } else {
                            chgFileYn.value = 'Y';
                            oldAttach.className = "d-none";
                            newAttach.className = "";
                            filePath.value = "";
                        }
                    } catch (error) {
                        console.log(error);
                    } finally {
                        e.target.disabled = false;
                    }
                });
            }
        </script>
    </div>
</div>
</body>
</html>