<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_manage}">
<head>
    <title>메뉴 관리</title>
    <link rel="stylesheet" href="/css/back.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="menuContainer">

        <div class="menu">
            <h2>메뉴 관리</h2>

            <form name="frm" id="frm"  enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${MENU.id}" />
                <div class="tableForm">
                    <div class="row">
					<span class="key">
						카테고리
					</span>
                        <div class="value">
                            <select name="category" id="category" class="form-select">
                                <option th:each="category, loop:${CATEGORIES}"
                                        th:value="${category.id}"
                                        th:selected="${category.id == MENU.category.id} ? 'selected'"
                                        th:text="${category.categoryName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						메뉴명 (한글)
					</span>
                        <div class="value">
                            <input type="text" name="name_kr" id="name_kr" class="w-300" th:value="${MENU.name_kr}" />
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						메뉴명 (영문)
					</span>
                        <div class="value">
                            <input type="text" name="name_en" id="name_en" class="w-300" th:value="${MENU.name_en}" />
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						메뉴 설명
					</span>
                        <div class="value">
                            <div class="editor-container editor-container_classic-editor" id="editor-container">
                                <div class="editor-container__editor">
                                    <textarea name="description" id="content" th:utext="${MENU.description}"></textarea>
                                </div>
                            </div>
                            <script type="importmap">
                                {
                                    "imports": {
                                        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                                        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
                                    }
                                }
                            </script>
                            <script src="https://example.com/ckfinder/ckfinder.js"></script>
                            <script type="module" src="/js/ckeditor.js"></script>
                            <p class="description">
                                * 단순 줄바꿈은 Shift+Enter를 사용해 주세요. <br>
                                * 단락에 따른 줄바꿈은 Enter를 사용해 주세요.
                            </p>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						메뉴 사진(일반)
					</span>
                        <div class="value">
                            <input type="hidden" name="imagePath" id="imagePath" th:value="${MENU.imagePath}" />
                            <input type="hidden" name="chgImg" id="chgImg" value="N" />
                            <div class="oldImg">
                                <img th:src="${MENU.imagePath}" id="prodImage" alt="" />
                                <button type="button" name="btnChgImg" class="btn btn-sm btn-secondary" >삭제</button>
                            </div>
                            <div class="newImg" style="display:none;">
                                <input type="file" name="imagePathNew" id="imagePathNew" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						서비스
					</span>
                        <div class="value">
                            <div class="feature">
                                <span>
                                    <input type="checkbox" name="signature" id="signature" value="Y" th:checked="${MENU.signatureYN eq 'Y'} ? 'checked'" />
                                    <label for="signature">Signature</label>
                                </span>
                                <span>
                                    <input type="checkbox" name="best" id="best" value="Y" th:checked="${MENU.bestYN eq 'Y'} ? 'checked'"  />
                                    <label for="best">Best </label>
                                </span>
                                <span>
                                    <input type="checkbox" name="new" id="new" value="Y" th:checked="${MENU.newYN eq 'Y'} ? 'checked'"  />
                                    <label for="new">New </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
					<span class="key">
						상태
					</span>
                        <div class="value">
                            <select name="status" id="status" class="form-select">
                                <option value="0" th:selected="${MENU.status eq '0'} ? 'selected'">숨김 </option>
                                <option value="1" th:selected="${MENU.status eq '1'} ? 'selected'">게시중</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

            <div class="listBottom mt-50">
                <div class="func txt_center">
                    <a th:if="${CATEGORY == null or CATEGORY == 0}"
                       th:href="@{/manage/menu(currentPage=${currentPage})}" class="btn btn-secondary">목록</a>
                    <a th:if="${CATEGORY != null and CATEGORY != 0}"
                       th:href="@{/manage/menu(currentPage=${currentPage}, category=${CATEGORY})}" class="btn btn-secondary">목록</a>
                    <button type="button" name="updateMenu" class="btn btn-warning">수정</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/manageHandler.js"></script>
    <script type="text/javascript">
        const btnChgImg = document.querySelector("button[name=btnChgImg]");
        const oldImg = document.querySelector(".oldImg");
        const newImg = document.querySelector(".newImg");
        const chgImg = document.querySelector("input[name=chgImg]");
        if(btnChgImg) {
            btnChgImg.addEventListener('click', (e) => {
                e.target.disable = true;
                if(chgImg.value == 'Y') {
                    chgImg.value = 'N';
                    newImg.style.display = 'none';
                    oldImg.style.display = '';
                }else{
                    chgImg.value = 'Y';
                    newImg.style.display = '';
                    oldImg.style.display = 'none';
                };
            });
        }
    </script>
</div>
</body>
</html>