<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_manage}">
<head>
    <title>매장 관리</title>
    <link rel="stylesheet" href="/css/back.css" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function findAddress() {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.getElementById('addr').value = data.roadAddress;
                }
            }).open();
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="shopContainer">

        <div class="shop">
            <h2>매장 관리</h2>

            <form name="frm" id="frm" >
                <div class="tableForm">
                    <div class="row">
                        <span class="key">
                            매장명
                        </span>
                        <div class="value">
                            <input type="text" name="shopName" class="w-300" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="key">
                            매장주소
                        </span>
                        <div class="value">
                            <button type="button" name="findAddr" class="btn btn-secondary mb-1">주소찾기</button>
                            <input type="text" name="addr" id="addr" class="d-block w-full mb-1" disabled />
                            <input type="text" name="addr2" id="addr2" class="d-block w-full" placeholder="상세 주소를 입력해 주세요." />
                        </div>
                    </div>
                    <div class="row">
                        <span class="key">
                            전화번호
                        </span>
                        <div class="value">
                            <input type="text" name="shopTel" id="shopTel" class="w-300" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="key">
                            영업시간
                        </span>
                        <div class="value">
                            <div class="editor-container editor-container_classic-editor" id="editor-container">
                                <div class="editor-container__editor"><textarea id="content" name="content"></textarea></div>
                            </div>
                            <script type="importmap">
                                {
                                    "imports": {
                                        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                                        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
                                    }
                                }
                            </script>
                            <script src="https://example.com/ckfinder/ckfinder.js"></script>
                            <script type="module" src="/js/ckeditor.js"></script>
                            <p class="description">
                                * 단순 줄바꿈은 Shift+Enter를 사용해 주세요. <br>
                                * 단락에 따른 줄바꿈은 Enter를 사용해 주세요.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <span class="key">
                            서비스
                        </span>
                        <div class="value">
                            <div class="services">
                                <span><input type="checkbox" name="takeout" id="takeout" class="form-check form-check-inline" /> <label for="takeout">Take Out </label></span>
                                <span><input type="checkbox" name="seat" id="seat" class="form-check orm-check-inline"/> <label for="seat">좌석유무 </label></span>
                                <span><input type="checkbox" name="wifi" id="wifi" class="form-check form-check-inline" /> <label for="wifi">와이파이 </label></span>
                                <span><input type="checkbox" name="delivery" id="delivery" class="form-check form-check-inline" /> <label for="delivery">배달서비스 </label> </span>
                                <span><input type="checkbox" name="parking" id="parking" class="form-check form-check-inline" /> <label for="parking">주차가능 </label></span>
                                <span><input type="checkbox" name="desert" id="desert" class="form-check form-check-inline" /> <label for="desert">디저트 </label></span>
                                <span><input type="checkbox" name="easyPay" id="easyPay" class="form-check form-check-inline" /> <label for="easypay">간편결제 </label></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="key">
                            위치
                        </span>
                        <div class="value">
                            위도 <input type="text" name="lat" id="lat" />
                            경도 <input type="text" name="lng" id="lng" />
                        </div>
                    </div>
                </div>
            </form>

            <div class="listBottom mt-50">
                <div class="func txt_center">
                    <a th:href="@{/manage/shop(currentPage=${currentPage})}" class="btn btn-secondary">목록</a>
                    <button type="button" name="createShop" class="btn btn-warning">수정</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const findAddr = document.querySelector("button[name=findAddr]");
        findAddr.addEventListener('click', (e) => {
            findAddress();
        });
    </script>
</div>
</body>
</html>