<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_basic}">
<head>
    <title>BI 소개</title>
    <link rel="stylesheet" href="/css/sub.css" />
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="introduceBIContainer">

        <div class="conceptBI">
            <p class="image"><img src="/images/sub/introduce/bi_object2.png" alt="" /></p>
            <h2 class="copy" data-aos="fade-down">우유의 크리미함을 살린 <br class="mobile">타이포그래피와 <br>밀크 저그의 조합</h2>
        </div>

        <section class="introduceBI">

            <article class="horizontal">
                <h4>기본로고(가로형)</h4>
                <div class="biBox" data-aos="fade-up">
                    <img src="/images/sub/introduce/bi_basic_horizontal.png" alt="기본로고 가로형" />
                </div>
            </article>

            <article class="vertical">
                <h4>기본로고(세로형)</h4>
                <div class="biBox" data-aos="fade-up">
                    <img src="/images/sub/introduce/bi_basic_vertical.png" alt="기본로고 세로형" />
                </div>
            </article>

            <article class="korean">
                <h4>한글</h4>
                <div class="biBox" data-aos="fade-up">
                    <img src="/images/sub/introduce/bi_korean.png" alt="한글" />
                </div>
            </article>

            <article class="color">
                <h4>COLOR</h4>
                <div class="colorBox" data-aos="fade-up">
                    <img src="/images/sub/introduce/bi_color-2.svg" alt="BI Color" />
                </div>
            </article>

            <p style="font-size:14px;">※ 탑티어 커피 BI 디자인은 상표 출원을 마쳤으며, 상표에 대한 권리를 법적으로 보호받고 있습니다. 무단으로 사용시 처벌 받을 수 있습니다.</p>
        </section>
    </div>
</div>
</body>
</html>