<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_basic}">
<head>
    <title>탑티어 소개</title>
    <link rel="stylesheet" href="/css/sub.css" />
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="introduceContainer">

        <div class="visual" data-aos="fade-in" data-aos-duration="500"><img src="/images/sub/introduce/brand_01.jpg" alt="최고의 커피, 최상의 순간" /></div>

        <section class="introduce">
            <article class="aboutBrand">
                <h2 class="hidden">최고의 커피, 최상의 순간</h2>

                <p>
                    탑티어(Toptier)는 최고 수준을 의미합니다.<br>
                    우리는 맛있는 커피를 넘어 최상의 커피 경험을 제공합니다.
                </p>
                <p data-aos="fade-up">
                    그 최상의 커피를 위해 엄격한 기준으로 원두를 선별하였고<br class="pc">
                    최적화된 로스팅을 통해 원두 본연의 맛을 이끌어냅니다.
                </p>
                <p data-aos="fade-up">
                    여기에 탑티어커피만의 노하우로 만든 고퀄리티 숙성 우유를 더해 <br class="pc">
                    누구도 경험하지 못한 하나뿐인 '인생 라떼'가 탄생했습니다.
                </p>
                <p data-aos="fade-up">
                    탑티어커피는 모든 음료 하나하나의 품질과 품격을 높여<br class="pc">
                    프랜차이즈 커피시장에 새로운 기준을 제시합니다.
                </p>
                <p data-aos="fade-up">
                    변화하는 트렌드에 대한 연구와 민첩한 대응 또한 <br class="pc">
                    탑티어커피를 최고의 브랜드로 만드는 원동력입니다.
                </p>
                <p data-aos="fade-up">
                    지금, 탑티어커피를 경험해보세요!
                </p>
            </article>
            <!-- // END : directLink -->

            <article class="subject">
                <dl data-aos="fade-up">
                    <dt>
                        <span class="subject">원두선택과 로스팅</span>
                        <img src="/images/sub/introduce/brand_02.jpg" alt="" />
                    </dt>
                    <dd>
                        <ul>
                            <li>중남미(브라질, 과테말라) 원두 사용</li>
                            <li>최적의 로스팅으로 안정적인 밸런스와 풍미 추구</li>
                            <li>엄격한 위생 기준 적용과 일관된 품질 유지 </li>
                        </ul>
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        <span class="subject">브랜드 포지셔닝 </span>
                        <img src="/images/sub/introduce/brand_03.jpg" alt="" />
                    </dt>
                    <dd>
                        <ul>
                            <li>가성비 좋은 프리미엄 커피 브랜드를 지향</li>
                            <li>합리적인 가격과 높은 품질의 서비스 제공 </li>
                            <li>시그니처 메뉴를 통해 "인생라떼" 포지셔닝</li>
                        </ul>
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        <span class="subject">차별화 전략</span>
                        <img src="/images/sub/introduce/brand_04.jpg" alt="" />
                    </dt>
                    <dd>
                        <ul>
                            <li>'With rich aged milk' 슬로건 사용 </li>
                            <li>블랜딩 수제 우유를 바탕으로 업계 이슈 메이커 </li>
                            <li>진하고 고소한 깊은 풍미 강조 </li>
                        </ul>
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        <span class="subject">가맹점 정책 </span>
                        <img src="/images/sub/introduce/brand_05.jpg" alt="" />
                    </dt>
                    <dd>
                        <ul>
                            <li>합리적인 원가율로 점주 마진 극대화 </li>
                            <li>메뉴와 서비스에 대한 체계적인 교육 제공 </li>
                            <li>본사, 고객, 가맹점주 간의 상생 추구 </li>
                        </ul>
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        <span class="subject">브랜드 비전</span>
                        <img src="/images/sub/introduce/brand_06.jpg" alt="" />
                    </dt>
                    <dd>
                        <ul>
                            <li>지속적인 연구와 트렌드 분석 마케팅을 통한 성장 </li>
                            <li>변화하는 시장에 맞춘 운영 시스템 창출 </li>
                            <li>카페 공간을 통한 새롭고 즐거운 문화 창조 </li>
                        </ul>
                    </dd>
                </dl>
            </article>
        </section>
    </div>
</div>
</body>
</html>