<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_basic}">
<head>
    <title>BI 소개</title>
    <link rel="stylesheet" href="/css/sub.css" />
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="toptierLatteContainer">

        <div class="visual">
            <h2 data-aos="fade-down" data-aos-delay="300">Toptier Coffee<br>with rich aged milk</h2>
            <div><img src="/images/sub/introduce/toptierLatte_top2.jpg" alt="" /></div>
        </div>

        <section class="toptierLatte">

            <article class="aboutLatte">
                <p class="slogan1" data-aos="fade-up">
                    엄선한 우유에 '숙성의 힘'을 더해 진하고 고소한 라떼
                </p>

                <div class="description">
                    <!-- p data-aos="fade-up"><img src="/images/sub/introduce/toptierLatte_founder.svg" alt="창업주 이미지" /></p -->
                    <p data-aos="fade-up" data-aos-duration="600" data-aos-delay="300">
                        탑티어 커피는 창업주의 숙성 노하우를 통해
                        어디에서도 맛보지 못한 진하고 고소한 숙성 우유를 제조합니다.<br>
                        탑티어 커피의 숙성 우유는 일정한 온도의 저온 냉장 숙성
                        과정을 거쳐 우유의 풍미와 질감을 극대화합니다.<br>
                        이제, 시간의 힘으로 완성된 숙성 우유의 깊고 풍부한 맛은
                        고객들에게 한 잔의 특별한 '인생 라떼' 경험을 선사할 것입니다.
                    </p>
                </div>
            </article>

            <article class="versus">
                <p class="mb-30" data-aos="fade-up">
                    <img src="/images/sub/introduce/toptierLatte_milk_vs-2.png" alt="일반우유 대 숙성우유" />
                </p>

                <dl data-aos="fade-up">
                    <dt>
                        블렌딩 우유
                    </dt>
                    <dd>
                        탑티어커피의 모든 라떼 제품은 탑티어만의 레시피로 만든 블렌딩 우유를 사용합니다.
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        저온 냉장 숙성
                    </dt>
                    <dd>
                        저온 냉장숙성 과정을 통해 우유의 깊은 맛과 부드러운 질감을 형성합니다.
                    </dd>
                </dl>
                <dl data-aos="fade-up">
                    <dt>
                        품질 관리
                    </dt>
                    <dd>
                        정기적으로 우유의 맛과 질감을 테스트 하고 있으며, 최상의 숙성상태를 유지하고 있습니다.
                    </dd>
                </dl>
            </article>
        </section>
    </div>
</div>
</body>
</html>