    <div th:fragment="footerFragment">
        <div class="floatBannerContainer">
			<div class="floatBanner">
				<div class="banner" onclick="document.location.href='tel:1544-8680'">
					<a href="tel:1544-8680"><img src="/images/common/ico/ico_franchisee2.png" alt="창업문의 1544 8680" /></a>
				</div>
				<div class="banner">
					<a href="https://pf.kakao.com/_dwVhn" target="_blank"><img src="/images/common/ico/ico_kakaoTalk2.png" alt="카카오톡 상담" /></a>
				</div>
			</div>
		</div>
		
		<footer class="footer">
			<div class="inner">
				<div class="logo"><img src="/images/common/SVG/logo_toptier_w.svg" alt="Toptier Coffee" /></div>
				<div class="companyInfo">
					<strong>(주)탑티어에프엔비</strong> 사업자번호 : 740-81-03803<br>
					대표이사 : 최희용
				</div>
				<div class="franchisee">가맹문의 : <a href="tel:1544-8680">1544-8680</a></div>
				<div class="copyright">
					Copyright © TOPTIER COFFEE. All right Reserved.
				</div>
			</div>
		</footer>
    </div>