<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<header class="header manage" th:fragment="headerFragment(headerInfo)">
    <div class="inner">
        <h1>
            <a href="/manage/main"><img src="/images/common/SVG/logo_toptier_w.svg" alt="Toptierr Coffee"/></a>
        </h1>
            <nav>
                <ul>
                    <li>
                        <a href="/manage/menu">메뉴 관리</a>
                    </li>
                    <li>
                        <a href="/manage/shop">매장 관리</a>
                    </li>
                    <li>
                        <a href="/manage/franchise">가맹신청 관리</a>
                    </li>
                    <li>
                        <a href="/manage/board">게시판 관리</a>
                    </li>
                    <li>
                        <a href="/manage/popup">팝업 관리</a>
                    </li>
                    <li>
                        <a href="">FAQ 관리</a>
                    </li>
                    <li>
                        <a href="/Main">탑티어 홈</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a href="/manage/siteUser/list">사용자 관리</a>
                    </li>
<!--                    <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">-->
<!--                        <a href="/manage/siteUser/list">사용자 관리</a>-->
<!--                    </li>-->
                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a href="/manage/logout">로그아웃</a>
                    </li>
                </ul>
            </nav>
    </div>
    <div class="mobileMenu mobile" id="mobileMenu"><span class="line"></span></div>
</header>
</html>