    <header class="header" th:fragment="headerFragment(headerInfo)">
        <div class="inner">
            <div class="content">
                <div class="content">
                    <h1>
                        <a href="/manage/main"><img src="/images/common/SVG/logo_toptier_w.svg" alt="Toptierr Coffee" /></a>
                    </h1>
                    <div class="header_content">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/manage/menu">메뉴 관리</a>
                                </li>
                                <li>
                                    <a href="/manage/shop">매장 관리</a>
                                </li>
                                <li>
                                    <a href="/manage/franchise">가맹신청 관리</a>
                                </li>
                                <li>
                                    <a href="/manage/board">게시판 관리</a>
                                </li>
                                <li>
                                    <a href="/manage/popup">팝업 관리</a>
                                </li>
                                <li>
                                    <a href="">FAQ 관리</a>
                                </li>
                                <li>
                                    <a href="/Main">탑티어 홈</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
		<div class="mobileMenu mobile" id="mobileMenu"><span class="line"></span></div>
    </header>