<div class="paging" th:fragment="pagenation">
    <a th:if="${PAGENATION.hasPrevious}"
       th:href="@{/manage/menu(currentPage=${PAGENATION.page - 1})}"
       th:text="이전"></a>
    <th:block th:if="${PAGENATION.startPage > 0}">
    <a th:if="${CATEGORY == null or CATEGORY == ''}"
       th:each="pageNo : ${#numbers.sequence(PAGENATION.startPage, PAGENATION.endPage)}"
       th:class="${pageNo == PAGENATION.page} ? 'active'"
       th:href="@{/manage/menu(currentPage=${pageNo})}"
       th:text="${pageNo}"></a>
    <a th:if="${CATEGORY != null and CATEGORY != ''}"
       th:each="pageNo : ${#numbers.sequence(PAGENATION.startPage, PAGENATION.endPage)}"
       th:class="${pageNo == PAGENATION.page} ? 'active'"
       th:href="@{/manage/menu(currentPage=${pageNo}, category=${CATEGORY})}"
       th:text="${pageNo}"></a>
    </th:block>
    <a th:if="${PAGENATION.hasNext}"
       th:href="@{/manage/menu(currentPage=${PAGENATION.page + 1})}"
       th:text="다음"></a>
</div>