<configuration>
    <!-- Spring Boot의 색상/스택트레이스 컨버터 등록 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %clr(%d{yyyyMMdd HH:mm:ss.SSS}){blue} %clr(%-5level){yellow} %clr(%logger{36}){cyan} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- SQL 관련 로그 레벨 설정 -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="DEBUG"/>
    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>