@charset "UTF-8";
.header.manage .inner {
  display: grid;
  grid-template-columns: 250px auto;
}
.header.manage nav > ul {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
}
.header.manage nav > ul > li {
  width: auto;
}

.tbTypeBoard {
  width: 100%;
}
.tbTypeBoard thead {
  border-top: 2px solid #004438;
  border-bottom: 1px solid #AAA;
}
.tbTypeBoard th {
  padding: 0.5rem 1.4rem;
  border-bottom: 1px solid #AAA;
  text-align: center;
}
.tbTypeBoard td {
  padding: 0.5rem 1.4rem;
  border-bottom: 1px solid #EEE;
  text-align: center;
}
.tbTypeBoard td.subject {
  text-align: left;
}
.tbTypeBoard td.subject a:hover {
  text-decoration: underline;
}
.tbTypeBoard td .link:hover {
  text-decoration: underline;
}
.tbTypeBoard .empty {
  height: 40vh;
}
.tbTypeBoard.menu td img {
  width: 100%;
}

.backMain {
  width: 100%;
}
.backMain .loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backMain .loginBox h2 {
  color: #004438;
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
}
.backMain .loginForm {
  width: 40rem;
  margin: 0 auto 20rem;
}
.backMain .loginFormContainer {
  margin-top: 4rem;
}
.backMain .loginForm > div {
  position: relative;
}
.backMain .loginForm input[type=text], .backMain .loginForm input[type=password] {
  width: 100%;
}
.backMain .loginForm .btnLogin {
  width: 100%;
  border-radius: 4px;
}
.backMain .loginForm .rememberCheck {
  font-size: 1.8rem;
}
.backMain .loginForm .findId {
  padding: 0.5rem 0;
  font-size: 1.6rem;
}
.backMain .loginForm label.error {
  right: 2em;
  left: auto;
}
.backMain .btnLogin {
  height: 5.8rem;
  border: none;
  background: #000;
  color: #FFF;
}
.backMain .btnLogout {
  width: 20rem;
  height: 3.8rem;
  margin: 0 auto;
  border: none;
  border-radius: 7px;
  background: #000;
  color: #FFF;
}

.user {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .user {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.userContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.user h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .user h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}
.user .tableForm {
  max-width: 550px;
  margin: auto;
}
.user .tableForm .row {
  margin: 0;
}

.board {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .board {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.boardContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.board h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .board h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}
.board .newFile {
  display: none;
}
.board .button_del {
  height: 31px;
  padding: 5px 8px;
  border: 1px solid #FFDDDD;
  border-radius: 2px;
  font-weight: bold;
  line-height: 21px;
}

.fr {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .fr {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.frContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.fr h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .fr h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}

.shop {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .shop {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.shopContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.shop h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .shop h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}
.shop .services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.shop #lat-error {
  left: 7rem;
}
.shop #lng-error {
  left: 36rem;
}

.menu {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .menu {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.menuContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.menu h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .menu h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}
.menu .ico {
  display: inline-block;
  width: 32px;
}
.menu .ico img {
  width: 100%;
}
.menu .categoryList {
  display: grid;
  width: 100%;
  height: 6rem;
  margin: 0 auto 4rem;
  background: #D8BB9A;
  grid-template-columns: repeat(5, 1fr);
}
.menu .categoryList a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 6rem;
  text-align: center;
  transition: all 0.3s ease-in;
}
.menu .categoryList a:hover {
  font-size: 2.4rem;
}
.menu .categoryList a.on {
  background: #864A33;
  font-weight: bold;
}
.menu .feature {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.mButton {
  display: inline-block;
  min-width: 5rem;
  padding: 0 2em;
  border: 1px solid #999;
  background: #DDD;
  font-size: 1.8rem;
  line-height: 3.8rem;
  vertical-align: middle;
}

.sButton {
  display: inline-block;
  height: 2.4rem;
  padding: 0 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #DDD;
  font-size: 12px;
  line-height: 2.4rem;
  vertical-align: middle;
}

.listBottom .func {
  text-align: right;
}
@media screen and (max-width: 480px) {
  .listBottom .func {
    text-align: center;
  }
}

.tableForm.view .row {
  margin: 0 0 10px 0;
  gap: 10px;
}
.tableForm.view .row .key {
  height: 36px;
  padding: 9px 10px;
  border-radius: 10px;
  background: #44AD4B;
  color: #FFF;
  font-weight: bold;
  line-height: 1;
}
.tableForm.view .row .key:after {
  display: none;
}
.tableForm.view .row .value {
  padding: 8px 10px;
  font-size: 1.8rem;
  line-height: 1.2;
}
.tableForm.view .row .value.etc {
  padding: 0 10px;
}
.tableForm .row {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 120px auto;
}
.tableForm .row.col4 {
  grid-template-columns: 120px 250px 120px auto;
}
@media screen and (max-width: 480px) {
  .tableForm .row.col4 {
    grid-template-columns: 120px auto;
  }
}
.tableForm .row .key {
  position: relative;
  height: 54px;
  padding: 16px 0;
  font-size: 1.8rem;
  line-height: 1;
}
.tableForm .row .key:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 2rem;
  background: #CCC;
  content: "";
  transform: translateY(-50%);
}
.tableForm .row .value {
  position: relative;
  padding: 6px 6px 6px 12px;
}
.tableForm .row textarea {
  width: 100%;
  min-height: 30rem;
}
.tableForm .description {
  color: #FF6600;
  font-size: 14px;
}

.notReady {
  position: relative;
  width: 100%;
  height: 82vh;
}
.notReady .text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #004438;
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* 팝업 */
.popSize {
  width: 80px;
  text-align: center;
}

/* datepickr */
.calendar {
  width: 130px;
}

input[type=text].datepicker {
  width: 80px;
  padding: 3px 4px;
  text-align: center;
}

.ui-datepicker {
  display: none;
  z-index: 998 !important;
  width: 200px;
  padding: 15px;
  border: 1px solid #CCC;
  background-color: #FFF;
  font-size: 13px;
}
.ui-datepicker-trigger {
  vertical-align: middle;
  cursor: pointer;
}
.ui-datepicker-header {
  position: relative;
  margin-bottom: 8px;
  padding: 0 30px 8px;
  border-bottom: 1px solid #CCC;
}
.ui-datepicker-prev {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.ui-datepicker-next {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.ui-datepicker-title select {
  height: 28px;
  margin: 0 3px;
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-calendar th {
  text-align: center;
}
.ui-datepicker-calendar td {
  text-align: center;
}
.ui-datepicker-week-end a {
  color: #F30;
}
.ui-datepicker-today a {
  color: #0072bc;
  font-weight: bold;
}
.ui-datepicker-current-day a {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #FF3300;
  color: #FFF;
  line-height: 18px;
}
.ui-icon-circle-triangle-e {
  display: inline-block;
  overflow: hidden;
  width: 15px;
  height: 15px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #000;
  vertical-align: middle;
  text-indent: -4000px;
}
.ui-icon-circle-triangle-w {
  display: inline-block;
  overflow: hidden;
  width: 15px;
  height: 15px;
  border-top: 7px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 7px solid transparent;
  vertical-align: middle;
  text-indent: -4000px;
}
.ui td a {
  padding: 2px;
}

.btn {
  font-size: 0.875em !important;
}
.btn-sm {
  font-size: 0.775em !important;
}

/*# sourceMappingURL=back.css.map */
