@media screen and (max-width: 1280px) {
  .introduce {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 480px) {
  .introduce {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.introduceContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.introduce .aboutBrand {
  margin-bottom: 6rem;
}
.introduce .aboutBrand p {
  margin-bottom: 1em;
  padding-right: 20rem;
  color: #000;
  font-size: 2.1rem;
  line-height: 1.38;
}
@media screen and (max-width: 480px) {
  .introduce .aboutBrand p {
    padding-right: 0;
    font-size: 1.8rem;
  }
}
.introduce .subject dl {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 64rem;
  height: 15rem;
  margin-bottom: 2.4rem;
  background: #F4F4F0;
}
@media screen and (max-width: 480px) {
  .introduce .subject dl {
    display: block;
    height: auto;
  }
}
.introduce .subject dt {
  position: relative;
  flex: 0 0 15rem;
  height: 100%;
  border-right: 0.4rem solid #FFF;
  background: #000;
  line-height: 0;
}
.introduce .subject dt .subject {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  transform: translate(-50%, -50%);
}
.introduce .subject dt img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.introduce .subject dd ul {
  display: grid;
  padding-left: 5.4rem;
  color: #515242;
  font-weight: 400;
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}
@media screen and (max-width: 480px) {
  .introduce .subject dd ul {
    display: block;
    padding: 2rem;
  }
}
.introduce .subject dd li {
  padding-left: 1em;
  font-size: 1.8rem;
  font-weight: 500;
  text-indent: -1em;
  letter-spacing: -1px;
}
@media screen and (max-width: 480px) {
  .introduce .subject dd li {
    padding-left: 0.8em;
    font-size: 1.6rem;
    text-indent: -0.8em;
  }
}
.introduce .subject dd li:before {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 0.8rem;
  border-radius: 100%;
  background: #515242;
  vertical-align: middle;
  content: "";
}

.visual {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
  line-height: 0;
}
.visual h2 {
  position: absolute;
  top: 45%;
  left: 5rem;
  color: #FFF;
  font-size: 7.7rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  .visual h2 {
    left: 4vw;
    font-size: 6vw;
  }
}
.visual img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .toptierLatte {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 480px) {
  .toptierLatte {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.toptierLatteContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.toptierLatte .aboutLatte {
  width: 100%;
  margin-bottom: 5rem;
}
.toptierLatte .aboutLatte .slogan1 {
  margin-bottom: 2.5rem;
  color: #004438;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .toptierLatte .aboutLatte .slogan1 {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}
.toptierLatte .aboutLatte .description {
  display: block;
  width: 100%;
  color: #000;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -1px;
}
@media screen and (max-width: 480px) {
  .toptierLatte .aboutLatte .description {
    display: block;
    font-size: 1.8rem;
  }
}
.toptierLatte .versus > p:first-child {
  width: 100%;
  max-width: 80rem;
}
.toptierLatte .versus > p:first-child img {
  width: 100%;
}
.toptierLatte .versus dl {
  width: 100%;
  max-width: 80rem;
  margin-bottom: 2rem;
}
.toptierLatte .versus dt {
  margin-bottom: 0.2rem;
  color: #004438;
  font-size: 2.8rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .toptierLatte .versus dt {
    font-size: 1.8rem;
  }
}
.toptierLatte .versus dd {
  color: #000;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -1px;
}

.introduceBI {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 4rem;
}
@media screen and (max-width: 1280px) {
  .introduceBI {
    padding: 6rem 4rem 0;
  }
}
@media screen and (max-width: 480px) {
  .introduceBI {
    padding-top: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.introduceBIContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.introduceBIContainer .conceptBI {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 108rem;
  margin: 4rem auto 20rem;
  background: #FFF2E3;
  text-align: center;
  aspect-ratio: 100/27.778;
}
@media screen and (max-width: 480px) {
  .introduceBIContainer .conceptBI {
    display: block;
    height: auto;
    margin: 0 auto 8rem;
    aspect-ratio: initial;
  }
}
.introduceBIContainer .conceptBI .image {
  flex: 0 0 27.778%;
  line-height: 0;
}
@media screen and (max-width: 480px) {
  .introduceBIContainer .conceptBI .image {
    display: block;
    margin-bottom: 4rem;
  }
}
.introduceBIContainer .conceptBI .image img {
  display: block;
  width: 100%;
}
.introduceBIContainer .conceptBI .copy {
  flex: 1 1 auto;
  color: #004438;
  font-size: 3.4rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .introduceBIContainer .conceptBI .copy {
    padding-bottom: 4rem;
    font-size: 2.8rem;
    line-height: 1.3;
  }
}
.introduceBIContainer .conceptBI .copy img {
  width: 70%;
}
@media screen and (max-width: 480px) {
  .introduceBIContainer .conceptBI .copy img {
    width: 75%;
    height: auto;
  }
}
.introduceBI article {
  width: 100%;
  margin-bottom: 4rem;
}
.introduceBI article h4 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .introduceBI article h4 {
    font-size: 1.8rem;
  }
}
.introduceBI article img {
  width: 100%;
}
.introduceBI article .biBox img {
  border: 1px solid #F2F2F2;
}

.signature {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  letter-spacing: -1px;
}
@media screen and (max-width: 1280px) {
  .signature {
    padding: 6rem 4rem 0;
  }
}
@media screen and (max-width: 480px) {
  .signature {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0;
  }
}
.signatureContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.signature h2 {
  margin-bottom: 2rem;
  color: #004438;
  font-size: 3.8rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .signature h2 {
    font-size: 2.8rem;
  }
}
.signature .copy {
  font-size: 1.8rem;
}
.signature .signatureExplane {
  width: 100%;
  margin-top: 4rem;
}
.signature .signatureExplane article {
  margin-bottom: 3rem;
}
.signature .signatureExplane h4 {
  color: #004438;
  font-size: 2.8rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .signature .signatureExplane h4 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    line-height: 1.1;
  }
  .signature .signatureExplane h4 .en {
    display: none;
    font-size: 2.4rem;
  }
}
.signature .signatureExplane h4 i {
  display: inline-block;
  height: 1.6em;
  font-size: 2.8rem;
  line-height: 0;
  vertical-align: middle;
}
.signature .signatureExplane h4 i img {
  height: 100%;
}
.signature .signatureExplane .description {
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .signature .signatureExplane .description {
    font-size: 1.8rem;
  }
}

.menu {
  padding-top: 4rem;
}
.menu h2 {
  color: #FECB8B;
  font-size: 4.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .menu h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}

.menuList {
  display: grid;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media screen and (max-width: 1280px) {
  .menuList {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .menuList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 860px) {
  .menuList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .menuList {
    display: block;
    padding-top: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.menuListContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.menuList .menuItem {
  position: relative;
  width: 100%;
  background: #F2F2F2;
}
@media screen and (max-width: 480px) {
  .menuList .menuItem {
    margin-bottom: 2.5rem;
  }
}
.menuList .menuItem .floatItem {
  position: absolute;
  z-index: 3;
  top: 1.2rem;
  right: 1.2rem;
  width: 4rem;
}
.menuList .menuItem .floatItem .ico {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.menuList .menuItem .floatItem img {
  width: 100%;
}
.menuList .menuImg {
  overflow: hidden;
  position: relative;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.menuList .menuImg img {
  display: block;
  position: relative;
  top: -1.5rem;
  left: 50%;
  width: 100%;
  max-width: none;
  transition: all 0.2s linear;
  transform: translateX(-50%) scale(1);
}
.menuList .menuImg:hover img {
  transform: translateX(-50%) scale(1.2);
}
.menuList .menuInfo {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.menuList .menuInfo .menuName {
  margin-bottom: 0.8rem;
}
.menuList .menuInfo .menuName .kr {
  margin-bottom: 0.4rem;
  color: #58595b;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}
.menuList .menuInfo .menuName .en {
  color: #A97763;
  font-size: 1.5rem;
  font-weight: 400;
}
.menuList .menuInfo .description {
  font-size: 1.1rem;
  word-break: keep-all;
}

.canLatte {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  letter-spacing: -1px;
}
@media screen and (max-width: 1280px) {
  .canLatte {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .canLatte {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.canLatteContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.canLatteContainer .mainVisual {
  width: 100%;
  margin-bottom: 2rem;
}
.canLatteContainer .mainVisual img {
  width: 100%;
}
.canLatte h2 {
  margin-bottom: 2rem;
  color: #004438;
  font-size: 3.8rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .canLatte h2 {
    font-size: 2.8rem;
  }
}
.canLatte .copy {
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .canLatte .copy {
    font-size: 1.8rem;
  }
}
.canLatte .canLatteExplane {
  display: grid;
  width: 100%;
  max-width: 85rem;
  margin-top: 4rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
@media screen and (max-width: 480px) {
  .canLatte .canLatteExplane {
    gap: 2rem;
  }
}
.canLatte .canLatteExplane article {
  margin-bottom: 3rem;
}
.canLatte .canLatteExplane article img {
  width: 100%;
}
.canLatte .canLatteExplane h4 {
  color: #004438;
  font-size: 2.8rem;
  font-weight: 700;
}
.canLatte .canLatteExplane .description {
  font-size: 1.8rem;
}
.canLatte .versus {
  width: 100%;
  max-width: 853px;
  margin-top: 10rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .canLatte .versus {
    margin-top: 6rem;
  }
}
.canLatte .versus img {
  width: 100%;
}

.shop {
  position: relative;
  width: 100%;
  padding-top: 4rem;
}
@media screen and (max-width: 1280px) {
  .shop {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 480px) {
  .shop {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.shopContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.shop .topImg {
  margin-bottom: 8rem;
  line-height: 0;
}
.shop .topImg img {
  width: 100%;
}
.shop .kakaomap {
  width: 82rem;
  height: 68rem;
}
@media screen and (max-width: 860px) {
  .shop .kakaomap {
    width: 100%;
    height: 80vw;
  }
}
.shopInfo {
  width: 100%;
  max-width: 83rem;
  margin: 0 auto 4rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .shopInfo {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .shopInfo .chart {
    display: block;
    margin-bottom: 2rem;
  }
  .shopInfo .chart .value {
    padding-left: 1.8rem;
  }
}
.shopInfo .chart.vertical {
  flex-direction: column;
}
.shopInfo .chart.vertical .key {
  flex: 1 1 6rem;
}
.shopInfo .chart .key {
  flex: 0 0 10rem;
  margin-right: 4px;
  padding-top: 6px;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .shopInfo .chart .key {
    font-weight: 500;
  }
}
.shopInfo .chart .key:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 0.8rem;
  border-radius: 100%;
  background: #44AD4B;
  vertical-align: middle;
  content: "";
  transform: translateY(-50%);
}
.shopService {
  display: grid;
  width: 100%;
  max-width: 50rem;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media screen and (max-width: 480px) {
  .shopService {
    margin-left: -1.4rem;
    padding: 1rem 0 0;
    gap: 1.2rem;
  }
}
.shopService .service {
  display: block;
  font-size: 1.8rem;
  text-align: center;
}
.shopService .serviceTitle {
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .shopService .serviceTitle {
    font-size: 14px;
  }
}
.shopService i {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  line-height: 1;
}
.shopService i img {
  width: 100%;
}
.shop h2 {
  width: 100%;
  max-width: 83rem;
  margin: 0 auto 4rem;
  font-size: 3.8rem;
}
@media screen and (max-width: 480px) {
  .shop h2 {
    font-size: 2.8rem;
  }
}
.shop .loadmap {
  width: 100%;
  max-width: 83rem;
  margin: 0 auto 4rem;
}
.shop .loadmap h3 {
  width: 24rem;
  height: 5.4rem;
  margin-bottom: 1em;
  border-radius: 2.7rem;
  background: #44AD4B;
  color: #FFF;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 5.4rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .shop .loadmap h3 {
    width: 13.4rem;
    height: 3.8rem;
    font-size: 1.8rem;
    line-height: 3.7rem;
  }
}

.franchise {
  width: 100%;
  max-width: 80rem;
  padding-top: 4rem;
}
.franchiseContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
@media screen and (max-width: 1280px) {
  .franchise {
    padding: 0 4rem 0;
  }
}
@media screen and (max-width: 480px) {
  .franchise {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.franchise .headline {
  margin-bottom: 3rem;
  font-size: 3.2rem;
  line-height: 1.3;
}
@media screen and (max-width: 480px) {
  .franchise .headline {
    padding-top: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
  }
}
.franchise .promise {
  margin-bottom: 4rem;
}
.franchise .promise h4 {
  color: #004438;
  font-size: 2.8rem;
}
@media screen and (max-width: 480px) {
  .franchise .promise h4 {
    font-size: 1.8rem;
  }
}
.franchise .promise p {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .franchise .promise p {
    font-size: 1.8rem;
  }
}
.franchise .promise .franchiseProgress {
  width: 100%;
  max-width: 72rem;
  margin-bottom: 7rem;
}

.requestForm {
  width: 100%;
  max-width: 94rem;
}
@media screen and (max-width: 1280px) {
  .requestForm {
    padding: 0 4rem 0;
  }
}
@media screen and (max-width: 480px) {
  .requestForm {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.requestForm .privacyPolicy {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.requestForm .privacyPolicy h4 {
  font-size: 2.8rem;
}
@media screen and (max-width: 480px) {
  .requestForm .privacyPolicy h4 {
    font-size: 1.8rem;
  }
}
.requestForm .privacyPolicyAll {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  color: #999;
  font-size: 1.4rem;
}
.requestForm .privacyPolicyAllContainer {
  width: 90%;
  height: 4em;
  margin-bottom: 1rem;
  padding: 0.5em;
  border: 1px solid #CCC;
}
.requestForm .checkPrivacy {
  margin-bottom: 3rem;
}
.requestForm .chart {
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #EEE;
}
@media screen and (max-width: 480px) {
  .requestForm .chart {
    display: block;
  }
}
.requestForm .chart .key {
  flex: 0 0 7em;
  height: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6rem;
}
@media screen and (max-width: 480px) {
  .requestForm .chart .key {
    margin-bottom: 1rem;
  }
}
.requestForm .chart .key .star {
  color: #FF3300;
}
.requestForm .chart .email {
  width: 20rem;
}
@media screen and (max-width: 480px) {
  .requestForm .chart .email {
    width: 100%;
    margin-bottom: 3px;
  }
}
.requestForm .chart .addr1 {
  width: 30rem;
}
@media screen and (max-width: 480px) {
  .requestForm .chart .addr1 {
    width: 100%;
    margin-bottom: 3px;
  }
}
.requestForm .chart .addr2 {
  width: 20rem;
}
@media screen and (max-width: 480px) {
  .requestForm .chart .addr2 {
    width: 100%;
  }
}
.requestForm .chart .shopSize {
  width: 6rem;
  text-align: right;
}
.requestForm .chart .etc {
  width: 40rem;
}
@media screen and (max-width: 480px) {
  .requestForm .chart .etc {
    width: 100%;
    margin-bottom: 3px;
  }
}
.requestForm .btn_line {
  padding: 1rem 0;
  text-align: center;
}
.requestForm .submit {
  height: 5rem;
  padding: 0 3.2rem;
  border-radius: 8px;
  background: #ED5E2D;
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 5rem;
}

.board {
  min-height: 55vh;
  padding: 0 4rem;
}
@media screen and (max-width: 480px) {
  .board {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.boardContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 10rem;
  padding-top: 6rem;
}
.board h2 {
  margin: 4rem auto;
  color: #004438;
  font-size: 3.8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .board h2 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
}
.boardView {
  display: grid;
  width: 100%;
  margin: 4rem auto;
  grid-template-columns: auto auto 18rem;
  grid-template-areas: "title title title" "writer insDate hits" "content content content";
}
.boardView .title {
  padding: 1rem 0;
  border-bottom: 2px solid #AAA;
  grid-area: title;
}
.boardView .writer {
  padding: 1rem 0 1rem 1rem;
  font-size: 1.6rem;
  grid-area: writer;
}
.boardView .insDate {
  padding: 1rem 0;
  font-size: 1.6rem;
  text-align: right;
  grid-area: insDate;
}
.boardView .hits {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.6rem;
  text-align: right;
  grid-area: hits;
}
.boardView .content {
  min-height: 25vh;
  padding: 2.5rem;
  border-top: 1px solid #CCC;
  grid-area: content;
}
.boardView .content img {
  max-width: 100%;
}
.boardBottom {
  width: 100%;
  max-width: 1024px;
  margin: 4rem auto;
  padding: 2.5rem;
  border-top: 1px solid #CCC;
  text-align: center;
}

.tbTypeBoard {
  width: 100%;
}
.tbTypeBoard thead {
  border-top: 2px solid #004438;
  border-bottom: 1px solid #AAA;
  font-size: 1.6rem;
}
.tbTypeBoard th {
  padding: 1.4rem;
  border-bottom: 1px solid #AAA;
  font-size: 1.6rem;
}
.tbTypeBoard td {
  padding: 1.4rem;
  border-bottom: 1px solid #EEE;
  font-size: 1.8rem;
  text-align: center;
}
.tbTypeBoard td.subject {
  text-align: left;
}
.tbTypeBoard td.subject a:hover {
  text-decoration: underline;
}
.tbTypeBoard td.num {
  font-size: 1.6rem;
}
.tbTypeBoard td.date {
  font-size: 1.6rem;
}
.tbTypeBoard td.hits {
  font-size: 1.6rem;
}
.tbTypeBoard .empty {
  height: 40vh;
}

.notReady {
  position: relative;
  width: 100%;
  height: 82vh;
}
.notReady .text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #004438;
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=sub.css.map */
