/* _reset.scss */
/*MAIN*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  line-height: 1.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

hr {
  display: none !important;
}

ul, ol, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #100da9;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  outline: none !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* _fonts.scss */
/* Common */
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 1.8rem;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 1.8rem;
  }
}

a {
  color: #555;
  text-decoration: none;
}
a:focus, a:hover {
  color: #555;
  text-decoration: none;
}

/* Padding & Margin */
.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

/* widths */
.w-30 {
  width: 30px !important;
}

.w-50 {
  width: 50px !important;
}

.w-80 {
  width: 80px !important;
}

.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.w-150 {
  width: 150px !important;
}

.w-180 {
  width: 180px !important;
}

.w-200 {
  width: 200px !important;
}

.w-220 {
  width: 220px !important;
}

.w-250 {
  width: 250px !important;
}

.w-300 {
  width: 300px !important;
}

.w-400 {
  width: 400px !important;
}

.w-500 {
  width: 500px !important;
}

.w-600 {
  width: 600px !important;
}

.w-700 {
  width: 700px !important;
}

.w-full {
  width: 100% !important;
}

/* Paragraph */
.txt_center {
  text-align: center !important;
}

.txt_left {
  text-align: left !important;
}

.txt_right {
  text-align: right !important;
}

.txt_nowrap {
  white-space: nowrap !important;
}

.strike {
  text-decoration: line-through;
}

.clear:before {
  display: block;
  clear: both;
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
}

.buttonBotContainer {
  position: relative;
  min-height: 33px;
  margin-bottom: 5em;
  text-align: center;
}
.buttonBotContainer:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
  visibility: hidden;
}
.buttonBotContainer .floatRight {
  position: absolute;
  top: 0;
  right: 0;
}
.buttonBotContainer .floatLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.buttonBotContainer .button,
.buttonBotContainer .mButton {
  margin: 0 5px;
}

/* Table Layout */
table.tb_type01 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #F30;
}
table.tb_type01 th {
  position: relative;
  padding: 15px 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid #000;
}
table.tb_type01 th::after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 15px;
  border-right: 1px solid #999;
  transform: translateY(-50%);
  content: "";
}
table.tb_type01 th:last-child::after {
  display: none;
}
table.tb_type01 td {
  padding: 15px 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 15px;
}
table.tb_type01 td.subject {
  text-align: left;
}
table.tb_type01 td.subject a:hover {
  text-decoration: underline;
}
table.tb_type01 tr:last-child td {
  background: none;
}
table.tb_type01.slim {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #CCC;
}
table.tb_type01.slim th {
  padding: 4px 10px;
  line-height: 1.2;
  background: #ECECEC;
  text-align: center;
  font-size: 13px;
}
table.tb_type01.slim td {
  padding: 6px 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 15px;
}
table.tb_type01.slim td.subject {
  text-align: left;
}
table.tb_type01.slim td.subject a:hover {
  text-decoration: underline;
}
table.tb_type01.mid {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #CCC;
}
table.tb_type01.mid th {
  padding: 8px 10px;
  line-height: 1.2;
  background: #ECECEC;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}
table.tb_type01.mid td {
  padding: 8px 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 14px;
}
table.tb_type01.mid td.subject {
  text-align: left;
}
table.tb_type01.mid td.subject a:hover {
  text-decoration: underline;
}
table.tb_type01.botBorder th,
table.tb_type01.botBorder td {
  border-bottom: 1px solid #CCC;
}
table.tb_type02 th {
  padding: 8px 10px;
  line-height: 1.2;
  background: #ECECEC;
  text-align: right;
  font-size: 13px;
  border: 1px solid #999;
}
table.tb_type02 td {
  padding: 8px 10px;
  line-height: 1.2;
  text-align: left;
  font-size: 15px;
  border: 1px solid #999;
}
table.tb_type03 {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #CCC;
}
table.tb_type03 tr.dark td {
  padding: 10px;
  background: #EFEFEF;
  font-size: 15px;
  font-weight: bold;
}
table.tb_type03 th {
  padding: 10px;
  line-height: 1.2;
  background: #ECECEC;
  text-align: center;
  font-size: 15px;
}
table.tb_type03 td {
  padding: 5px 10px;
  line-height: 1.2;
  text-align: center;
  font-size: 13px;
  border: 1px solid #CCC;
}
table.tb_type03 td.subject {
  text-align: left;
}
table.tb_type03 td.subject a:hover {
  text-decoration: underline;
}
table .empty {
  text-align: center;
  height: 250px;
}

/* Chart */
.chart {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.chart .key {
  display: block;
  flex: 0 0 5.5em;
}
.chart .value {
  position: relative;
  display: block;
  flex: 0 1 auto;
}

/* Paging */
.paging {
  padding: 1.5em 0;
  text-align: center;
}
.paging strong {
  display: inline-block;
  width: auto;
  height: 21px;
  padding: 0 5px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -1px;
}
.paging a {
  display: inline-block;
  width: auto;
  height: 21px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -1px;
}
.paging a img {
  vertical-align: middle;
}
.paging strong {
  display: inline-block;
  width: auto;
  height: 21px;
  padding: 0 5px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #F30;
  font-weight: bold;
}
.paging a.active {
  color: #F30;
  font-weight: bold;
}
.paging a.first, .paging a.prev, .paging a.next, .paging a.last {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 22px;
  text-indent: -8000px;
}
.paging a.first {
  background: url("/images/common/ico/ico-chevron-double-left-r.svg") no-repeat 50% 50%/contain;
}
.paging a.prev {
  background: url("/images/common/ico/ico-chevron-left-r.svg") no-repeat 50% 50%/contain;
}
.paging a.next {
  background: url("/images/common/ico/ico-chevron-right-r.svg") no-repeat 50% 50%/contain;
}
.paging a.last {
  background: url("/images/common/ico/ico-chevron-double-right-r.svg") no-repeat 50% 50%/contain;
}

/* List */
.list li {
  display: block;
  padding: 3px 0 3px 1.2em;
  text-indent: -1.2em;
  line-height: 1.2;
}
.list li::before {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
  content: "";
  vertical-align: baseline;
}
.list-type__astro li {
  text-indent: -1em;
}
.list-type__astro li::before {
  background: url("/mages/common/ico/ico-astro-r.svg") no-repeat 50% 50%/contain;
}
.list-type__check li::before {
  background: url("/images/common/ico/ico-check-red.svg") no-repeat 50% 50%/contain;
}
.list-type__dash li::before {
  background: url("/images/common/ico/ico-minus-red.svg") no-repeat 50% 50%/contain;
}
.list-type__dot li::before {
  background: url("/images/common/ico/ico-dot-red.svg") no-repeat 50% 50%/contain;
}

.hidden {
  position: fixed;
  left: -8000px;
  width: 0;
  height: 0;
  overflow: hidden;
}

.pc {
  display: initial;
}

.mobile {
  display: none !important;
}

@media screen and (max-width: 860px) {
  .pc {
    display: none !important;
  }
  .mobile {
    display: initial !important;
  }
}
/* Animation */
[data-aos=fade-in] {
  transform: scale(90%) !important;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease !important;
}
[data-aos=fade-in].aos-animate {
  transform: scale(100%) !important;
  opacity: 1;
}

[data-aos=fade-in-2] {
  transform: scaleZ(-90%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in;
}
[data-aos=fade-in-2].aos-animate {
  transform: scaleZ(100%);
  opacity: 1;
}

/* Form */
input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  height: 4.1rem;
  padding: 0.6rem 0.8rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  border: 1px solid #CCC;
  border-radius: 5px;
  vertical-align: middle;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder {
  font-size: 1.8rem;
  color: #999;
}
input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=number]:focus::placeholder {
  color: #FFF;
}

input.zipcode {
  width: 40px;
  text-align: center;
}
input.zipcode.zip1 {
  border-radius: 5px 0 0 5px;
  border-right: 0;
  text-align: right;
  padding-right: 0;
}
input.zipcode.zip2 {
  border-radius: 0 5px 5px 0;
  border-left: 0;
  text-align: left;
  padding-left: 0;
}
input.address {
  width: 100%;
  min-width: 240px;
}
input.phone {
  width: 80px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  input.phone {
    width: 74px;
  }
}
input.chr2 {
  width: 40px;
  text-align: center;
}
input.chr3 {
  width: 60px;
  text-align: center;
}
input.chr4 {
  width: 80px;
  text-align: center;
}
input.chr5 {
  width: 100px;
  text-align: center;
}
input.noBoard {
  border: none !important;
}
input.w-300 {
  width: 100%;
  max-width: 300px;
}
input.w-400 {
  width: 100%;
  max-width: 400px;
}
input.w-500 {
  width: 100%;
  max-width: 500px;
}
input.w-600 {
  width: 100%;
  max-width: 600px;
}
input.w-700 {
  width: 100%;
  max-width: 700px;
}
input.w-800 {
  width: 100%;
  max-width: 800px;
}

textarea {
  padding: 8px;
  font-size: 15px;
  line-height: 1.4;
  border: 1px solid #CCC;
  border-radius: 5px;
  vertical-align: middle;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.form-select {
  display: inline-block;
  width: auto;
  font-size: 1.8rem;
  vertical-align: middle;
}

.form-check-input[type=radio] {
  display: inline-block;
  margin-right: 0.8rem;
}
.form-check-input[type=radio] + lable {
  margin-right: 1.2rem;
}

/* datepickr */
input[type=text].datepicker {
  width: 80px;
  padding: 3px 4px;
  text-align: center;
}

.ui-datepicker {
  display: none;
  width: 200px;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 15px;
  z-index: 998 !important;
}
.ui-datepicker-trigger {
  vertical-align: middle;
  cursor: pointer;
}
.ui-datepicker-header {
  position: relative;
  padding: 0 30px 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #CCC;
}
.ui-datepicker-prev {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.ui-datepicker-next {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.ui-datepicker-title select {
  height: 28px;
  margin: 0 3px;
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-calendar th {
  text-align: center;
}
.ui-datepicker-calendar td {
  text-align: center;
}
.ui-datepicker-week-end a {
  color: #F30;
}
.ui-datepicker-today a {
  color: #0072bc;
  font-weight: bold;
}
.ui-datepicker-current-day a {
  background: #FF3300;
  color: #FFF;
  border-radius: 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.ui-icon-circle-triangle-e {
  display: inline-block;
  overflow: hidden;
  text-indent: -4000px;
  width: 15px;
  height: 15px;
  border-top: 7px solid transparent;
  border-left: 10px solid #000;
  border-bottom: 7px solid transparent;
  vertical-align: middle;
}
.ui-icon-circle-triangle-w {
  display: inline-block;
  overflow: hidden;
  text-indent: -4000px;
  width: 15px;
  height: 15px;
  border-top: 7px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 7px solid transparent;
  vertical-align: middle;
}
.ui td a {
  padding: 2px;
}

label.error {
  display: none;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #FF3300;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 16.6rem;
}
@media screen and (max-width: 480px) {
  .main {
    padding-bottom: 30rem;
  }
}

/** Header **/
.header {
  position: fixed;
  width: 100vw;
  height: 6rem;
  background: rgba(0, 132, 66, 0.7);
  transition: height 0.2s linear;
  z-index: 9999;
}
.header .inner {
  position: relative;
  width: 100%;
  height: 6rem;
  max-width: 1280px;
  margin: 0 auto;
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 860px) {
  .header .content {
    display: block;
  }
}
.header h1 {
  display: block;
  flex: 0 0 35rem;
  width: 20rem;
}
@media screen and (max-width: 1024px) {
  .header h1 {
    flex: 0 0 20rem;
  }
}
@media screen and (max-width: 860px) {
  .header h1 {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }
}
.header h1 a {
  display: block;
  margin: 0 auto;
  width: 20rem;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .header h1 a {
    width: 18rem;
  }
}
.header h1 a img {
  width: 100%;
}
.headerContent {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .headerContent {
    grid-template-columns: auto 15rem;
  }
}
@media screen and (max-width: 860px) {
  .headerContent {
    position: fixed;
    display: block;
    width: 35vw;
    height: 100%;
    top: 6rem;
    left: -72vw;
    background: rgba(0, 132, 66, 0.7);
    transition: left 0.3s ease-in;
  }
  .headerContent.on {
    left: 0;
  }
}
@media screen and (max-width: 860px) {
  .headerContent {
    width: 70vw;
  }
}
.header nav {
  display: flex;
  flex: 0 0 auto;
}
@media screen and (max-width: 860px) {
  .header nav {
    display: block;
  }
}
.header nav > ul {
  display: flex;
}
@media screen and (max-width: 860px) {
  .header nav > ul {
    display: block;
  }
}
.header nav > ul > li {
  position: relative;
  width: 14rem;
  font-size: 1.7rem;
}
@media screen and (max-width: 1024px) {
  .header nav > ul > li {
    width: 12rem;
  }
}
@media screen and (max-width: 860px) {
  .header nav > ul > li {
    width: 100% !important;
  }
}
.header nav > ul > li:nth-child(1) {
  width: 16rem;
}
@media screen and (max-width: 1024px) {
  .header nav > ul > li:nth-child(1) {
    width: 14rem;
  }
}
.header nav > ul > li:nth-child(2) {
  width: 16rem;
}
@media screen and (max-width: 1024px) {
  .header nav > ul > li:nth-child(2) {
    width: 14rem;
  }
}
.header nav > ul > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
  padding: 0;
  color: #FFF;
  line-height: 6rem;
  white-space: nowrap;
  transition: all 0.2s linear;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .header nav > ul > li > a {
    padding-left: 2rem;
    text-align: left;
  }
}
.header nav > ul > li:not(:first-child) > a:after {
  position: absolute;
  display: block;
  width: 2px;
  height: 2rem;
  left: -1px;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #004438;
  content: "";
  opacity: 1;
}
@media screen and (max-width: 860px) {
  .header nav > ul > li:not(:first-child) > a:after {
    display: none;
  }
}
.header nav > ul > li.on {
  background: rgb(0, 132, 66);
}
.header nav > ul > li.on > a:after {
  background: rgb(0, 132, 66);
  opacity: 0;
}
.header nav > ul > li.on + li > a:after {
  opacity: 0;
}
.header nav > ul > li.on > .subDepth {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem;
  height: auto;
}
.header nav > ul > li.on > .subDepth a {
  height: 4rem;
  line-height: 4rem;
}
.header nav > ul > li.on > .subDepth {
  padding-top: 2rem;
  background: rgb(0, 132, 66);
  opacity: 1;
}
@media screen and (max-width: 860px) {
  .header nav > ul > li.on > .subDepth {
    padding-top: 0;
  }
}
.header nav > ul > li.on > .subDepth a {
  height: 4rem;
  line-height: 4rem;
}
@media screen and (max-width: 860px) {
  .header nav > ul > li.on > .subDepth a {
    text-align: left;
    padding-left: 4rem;
  }
}
.header nav .subDepth {
  position: absolute;
  top: 6rem;
  width: 100%;
  height: 0;
  transition: all 0.1s linear;
  background: rgba(0, 132, 66, 0.7);
  padding-top: 0;
  opacity: 0;
}
@media screen and (max-width: 860px) {
  .header nav .subDepth {
    position: relative;
    top: 0;
  }
}
.header nav .subDepth a {
  display: block;
  height: 0;
  line-height: 0;
  color: #FFF;
  white-space: nowrap;
  text-align: center;
  transition: all 0.2s linear;
}
.header nav .subDepth a:hover {
  font-weight: bold;
  color: #2BA739;
}
.header .shopOrder {
  line-height: 1;
  text-align: right;
}
@media screen and (max-width: 860px) {
  .header .shopOrder {
    text-align: left;
    padding-left: 0.9em;
    margin-top: 20px;
  }
}
.header .shopOrder a {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #FFF;
}
.header .shopOrder a img {
  width: 3.2rem;
  vertical-align: middle;
}
.header .mobileMenu {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 860px) {
  .header .mobileMenu {
    display: block;
  }
}
.header .mobileMenu .line {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: #FFF;
}
.header .mobileMenu:before {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: #FFF;
  content: "";
}
.header .mobileMenu:after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: #FFF;
  content: "";
}

.floatBannerContainer {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 0;
  transform: translateX(-50%);
  transition: all 0.3s linear;
  z-index: 9999;
}
@media screen and (max-width: 1280px) {
  .floatBannerContainer {
    opacity: 0.5;
  }
}
@media screen and (max-width: 860px) {
  .floatBannerContainer {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .floatBannerContainer {
    display: block;
    top: unset;
    left: unset;
    bottom: 20px;
    right: 20px;
    transform: unset;
    width: auto;
    height: auto;
    opacity: 1;
  }
}
.floatBannerContainer .floatBanner {
  position: absolute;
  right: 1rem;
  top: 12rem;
}
@media screen and (max-width: 480px) {
  .floatBannerContainer .floatBanner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 196px;
    text-align: center;
    right: unset;
    top: unset;
  }
  .floatBannerContainer .floatBanner .banner img {
    width: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16.6rem;
  background: #094438;
  color: #FFF;
}
@media screen and (max-width: 480px) {
  .footer {
    height: 30rem;
  }
}
.footer .inner {
  display: grid;
  grid-template-columns: auto 340px;
  grid-template-rows: 8rem auto;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 8rem 2rem;
}
@media screen and (max-width: 480px) {
  .footer .inner {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
  }
}
.footer .logo {
  width: 30rem;
  margin-top: -6px;
}
@media screen and (max-width: 480px) {
  .footer .logo {
    margin-top: 0;
    width: 25rem;
    margin-bottom: 5rem;
  }
}
.footer .franchisee {
  font-size: 2.4rem;
  font-weight: 600;
  color: #2BA739;
}
.footer .franchisee a {
  color: #2BA739;
}
.footer .companyInfo {
  font-size: 1.6rem;
}
@media screen and (max-width: 480px) {
  .footer .companyInfo {
    margin-bottom: 1rem;
  }
}
.footer .copyright {
  padding-top: 1rem;
  font-size: 1.2rem;
}

/*# sourceMappingURL=topTier.css.map */
