<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_basic}">
<head>
    <title>캔라떼</title>
    <link rel="stylesheet" href="/css/sub.css" />
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="canLatteContainer">
        <div class="visual" data-aos="fade-in" data-aos-duration="500">
            <img src="/images/sub/canLatte-2.jpg" alt="캔 라떼 " />
        </div>

        <section class="canLatte">

            <article>
                <h2 data-aos="fade-up">탑티어매장에서 만든 라떼의 맛 그대로, 야외에서도 즐겨보세요!</h2>
                <div class="copy" data-aos="fade-up" data-aos-delay="200">
                    야외, 집, 회사 등.. 고객님이 있는 곳 어디서든 매장에서 직접 제조한 <br>
                    신선하고 고소한 라떼의 맛을 포기할 수 없다면 이제 탑티어 수제 캔라떼!<br>
                    탑티어 수제 캔라떼는 공장에서 대량으로 제조하는 음료가 아닙니다. <br>
                    매장에서 ‘수제로 즉석 제조’하여 더욱 신선하고 믿을 수 있습니다. <br>
                    소비기한 또한 제조일 포함 3일 이내입니다. 타브랜드와 직접 비교해 보세요!<br>
                    고객이 어디에 있든 진하고 고소한 “인생라떼”를 즐겨보세요!
                </div>
            </article>

            <div class="versus" data-aos="fade-up">
                <img src="/images/sub/canLatte-3.png" alt="똑같은 캔라떼가 아닙니다. 신선함이 다릅니다!" />
            </div>

            <div class="canLatteExplane">
                <article data-aos="fade-up" data-aos-delay="200">
                    <img src="/images/sub/picto_canLatte_1.png" alt="캠핑, 여행, 장거리 운전시">
                </article>

                <article data-aos="fade-up" data-aos-delay="500">
                    <img src="/images/sub/picto_canLatte_2.png" alt="홈파티, 각종 모임">
                </article>

                <article data-aos="fade-up" data-aos-delay="800">
                    <img src="/images/sub/picto_canLatte_3.png" alt="기업 임직원 복리후생">
                </article>

                <article data-aos="fade-up" data-aos-delay="1100">
                    <img src="/images/sub/picto_canLatte_4.png" alt="기념 답례 행사 선물용">
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>