<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout_basic}">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/sub.css" />
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="signatureContainer">

        <div class="visual" data-aos="fade-in" data-aos-duration="500">>
            <img src="/images/sub/signature_top5(1).jpg" alt="시그니쳐 Top 5" />
        </div>

        <section class="signature">

            <article>
                <h2 data-aos="fade-up">탑티어커피가 자신있게 추천하는 탑티어 시그니처 라떼 Top5!</h2>
            </article>

            <div class="signatureExplane">
                <article>
                    <h4 data-aos="fade-up"><i><img src="/images/sub/ico_top1.svg" alt="Top 1"></i> 카페라떼 <span class="en">(Cafe Latte)</span></h4>
                    <div class="description" data-aos="fade-up" data-aos-delay="300">진하고 고소한 수제 숙성 우유에 진한 에스프레소를 넣은 탑티어 시그니처 라떼</div>
                </article>

                <article>
                    <h4 data-aos="fade-up"><i><img src="/images/sub/ico_top2.svg" alt="Top 2"></i> 아인슈페너 라떼 <span class="en">(Einspänner Latte)</span></h4>
                    <div class="description" data-aos="fade-up" data-aos-delay="300">아인슈페너크림과 수제 숙성 우유, 그리고 진한 에스프레소의 환상적인 조화!</div>
                </article>

                <article>
                    <h4 data-aos="fade-up"><i><img src="/images/sub/ico_top3.svg" alt="Top 3"></i> 흑임자 크림 라떼 <span class="en">(Black Sesame Cream Latte)</span></h4>
                    <div class="description" data-aos="fade-up" data-aos-delay="300">에스프레소에 담백한 흑임자 크림이 가득 올려진 진한 풍미의 크림 라떼</div>
                </article>

                <article>
                    <h4 data-aos="fade-up"><i><img src="/images/sub/ico_top4.svg" alt="Top 4"></i> 피스타치오 크림 라떼 <span class="en">(Pistachio Cream Latte)</span></h4>
                    <div class="description" data-aos="fade-up" data-aos-delay="300">고소한 피스타치오 크림과 에스프레소가 어우러진 진한 풍미의 크림 라떼</div>
                </article>

                <article>
                    <h4 data-aos="fade-up"><i><img src="/images/sub/ico_top5.svg" alt="Top 5"></i> 아인슈페너 모카 <span class="en">(Einspänner Mocha)</span></h4>
                    <div class="description" data-aos="fade-up" data-aos-delay="300">수제 숙성 크림과 진한 초콜릿, 그리고 에스프레소의 절묘한 앙상블!</div>
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>