@mixin hamberg() {
	display:block;
	width:100%;
	height:5px;
	border-radius:2px;
	background:#FFF;
}
@mixin center_transform() {
  	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%, -50%);
}

@mixin vertical_center() {
  	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

@mixin button($button-bg, $button-border, $button-border-color, $button-pad, $button-size, $button-line-height, $height-button, $button-radius) {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 0;
	padding: 10px $button-pad 0 $button-pad;
	background: $button-bg;
	border: $button-border solid $button-border-color;
	font-size: $button-size;
	line-height: $button-line-height;
	height: $height-button;
	position: relative;
	@include radius($button-radius);
}

@mixin font($font-s, $font-h, $font-c, $font-w:400) {
    font-size: $font-s;
    line-height: $font-h;
    color:$font-c;
    font-weight: $font-w;
}

@mixin placeholder-color($color){
	&:-moz-placeholder,
	&::-moz-placeholder{
		color: $color;
		opacity: 1;
	}
	&::-webkit-input-placeholder{
		color: $color;
	}
	&:-ms-input-placeholder{
		color: $color;
		opacity: 1;
	}
}

@mixin arr($width, $height, $bg, $direction){
	width: 0px;
	height: 0px;
	border-style: solid;
	@if $direction == t{
		border-width: 0 $width / 2 + px $height + px $width / 2 + px;
		border-color: transparent transparent $bg transparent;
	}
	@if $direction == r{
		border-width: $height / 2 + px 0 $height / 2 + px $width + px;
		border-color: transparent transparent transparent $bg;
	}
	@if $direction == b{
		border-width: $height + px $width / 2 + px 0 $width / 2 + px;
		border-color: $bg transparent transparent transparent;
	}
	@if $direction == l{
		border-width: $height / 2 + px $width + px $height / 2 + px 0;
		border-color: transparent $bg transparent transparent;
	}
	@if $direction == tl{
		border-width: $height + px $width + px 0 0;
		border-color: $bg transparent transparent transparent;
	}
	@if $direction == tr{
		border-width: 0 $width + px $height + px 0;
		border-color: transparent $bg transparent transparent;
	}
	@if $direction == br{
		border-width: 0 0 $height + px $width + px;
		border-color: transparent transparent $bg transparent;
	}
	@if $direction == bl{
		border-width: $height + px 0 0 $width + px;
		border-color: transparent transparent transparent $bg;
	}
}
@mixin text-overflow{
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
@mixin flex-just{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin nav-vt($margin-rigtht){
	display: inline-block;
	vertical-align: top;
	margin-right: $margin-rigtht;
	&:last-child{
		margin-right: 0;
	}
}

@mixin widget($radius){
	background-color:#FFF;
	@include radius($radius);	
	@include shadow(0 3px 4px rgba(141, 139, 161, .3));
	overflow:hidden;	
}
@mixin init-widget(){
	background-color:transparent;
	border-radius: 0;
	box-shadow:none;	
	overflow:visible;
}

@function rem($size) {
	@return calc($size / $base-font-size)px;
}

@mixin mobile-padding {
	padding-left:2.5rem;
	padding-right:2.5rem;
}

@mixin mobile {
	@media screen and (max-width:$mobile){
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width:$tablet){
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width:$desktop){
		@content;
	}
}
@mixin w-dtop {
	@media screen and (max-width:$w-dtop){
		@content;
	}
}