@charset "UTF-8";
@import 'utils/variables';
@import 'utils/mixins';


.joinIn {
	@include w-dtop {
		padding:0 4rem;
	}
	@include mobile {
		@include mobile-padding;
	}
	&Container {
		width:100%;
		max-width:$max-width;
		margin:0 auto 10rem;
		padding-top:$headerH;
	}
	
	h2 {
		font-size:$font-size-2;
		margin:10rem auto;
		text-align:center;
	}
	
	.loginForm {
		display:grid;
		gap:10px;
		grid-template-rows: 4.6rem 4.6rem 3rem 4.6rem 2.8rem;
		width:50rem;
		margin:0 auto 20rem;
		> div {
			position:relative;
		}
		input {
			width:100%;
		}
		.rememberCheck{
			font-size:$font-small;
		}
		.findId {
			padding:.5rem 0;
			font-size:$font-small-2;
		}
	}
	.btnLogin {
		height:5.8rem;
		background:#000;
		color:#FFF;
	}
}